@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./config/base.css";
@import "./config/components.css";
@import "./config/transitions.css";
@import "./config/animation.css";

@font-face {
    font-family: Favorit;
    src: url('../fonts/ABCFavorit-BoldItalic-Trial.ttf') format('ttf'),
        url('../fonts/ABCFavorit-BoldItalic-Trial.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ABCFavorit-BoldItalic-Trial.woff') format('woff');
    /* Pretty Modern Browsers */
    font-style: italic;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: Favorit;
    src: url('../fonts/ABCFavorit-BoldItalic-Trial.ttf') format('ttf'),
        url('../fonts/ABCFavorit-BoldItalic-Trial.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ABCFavorit-BoldItalic-Trial.woff') format('woff');
    /* Pretty Modern Browsers */
    font-style: italic;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: Favorit;
    src: url('../fonts/ABCFavorit-BookItalic-Trial.ttf') format('ttf'),
        url('../fonts/ABCFavorit-BookItalic-Trial.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ABCFavorit-BookItalic-Trial.woff') format('woff');
    /* Pretty Modern Browsers */
    font-style: italic;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: Favorit;
    src: url('../fonts/ABCFavorit-Book-Trial.ttf') format('ttf'),
        url('../fonts/ABCFavorit-Book-Trial.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ABCFavorit-Book-Trial.woff') format('woff');
    /* Pretty Modern Browsers */
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}