@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./config/base.css";
@import "./config/components.css";
@import "./config/transitions.css";
@import "./config/animation.css";

@font-face {
    font-family: "Marfa";
    src: url("../fonts/ABCMarfa-Bold-Trial.woff2") format("woff2"), url("../fonts/ABCMarfa-Bold-Trial.woff") format("woff"), url("../fonts/ABCMarfa-Bold-Trial.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: "Marfa";
    src: url("../fonts/ABCMarfa-Medium-Trial.woff2") format("woff2"), url("../fonts/ABCMarfa-Medium-Trial.woff") format("woff"), url("../fonts/ABCMarfa-Medium-Trial.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "Marfa";
    src: url("../fonts/ABCMarfa-Regular-Trial.woff2") format("woff2"), url("../fonts/ABCMarfa-Regular-Trial.woff") format("woff"), url("../fonts/ABCMarfa-Regular-Trial.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Marfa";
    src: url("../fonts/ABCMarfa-Light-Trial.woff2") format("woff2"), url("../fonts/ABCMarfa-Light-Trial.woff") format("woff"), url("../fonts/ABCMarfa-Light-Trial.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}